*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
}

header{
    background-color: yellowgreen;
    padding: 16px;
}

.content{
    padding: 32px 0;
}

.card{
    background-color: rgb(241, 241, 241);
    padding: 8px;
}

.row{
    justify-content: center;
}

#btn-submit{
    display: flex;
    margin: 12px auto;
    text-transform: uppercase;
    width: 50%;
}

#btn-submit h3{
    margin: 0 auto;
}

form{
    width: 100%;
    margin: 32px auto;
    display: block;
}

.form-label{
    display: block;
}

label{
    margin-top: 12px;
}

label.error{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 6px;
    margin: 8px 0;
    font-size: 12px;
}

footer{
    background-color: yellowgreen;
    padding: 24px;
}

footer li{
    list-style: none;
}

footer a{
    color: black;
    text-decoration: none;
}

footer h2{
    text-align: start;
}

footer p{
    display: flex;
    justify-content: center;
}

.accordion{
    margin-bottom: 16px;
}

.fac > h2{
    margin-bottom: 56px;
}

.register{
    padding: 56px 0;
}

#itemCentral{
    margin: 0 24px;
}

@media screen and (max-width: 767px) {
    
    #itemCentral {
        margin: 18px 0;
    }

    .card{
        width: 90%;
    }
}